<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/materialize.min.css') }}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block stylesheets %}
  <link href="{{ asset('css/materialize.css') }}" rel="stylesheet"/>
  <link href="{{ asset('css/your_form_theme.css') }}" rel="stylesheet"/>
{% endblock %}
<!-- UserDropDown Structure -->


<nav class="orange">
    <div class="nav-wrapper">
       <a id="logo-container" href="#" class="brand-logo center"><span class="black-text text-darken-3">{{  block('title') }}</span></a>
       {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><span class="black-text text-darken-3"></span>Welcome {{ app.user.prenom }}</li>
           
            <li><a href="{{ path('client_index') }}" class="black-text text-darken-3">Customers
                    <i class="material-icons">perm_contact_calendar</i></a></li>
            <li><a href="{{ path('client_new') }}" class="black-text text-darken-3">Add customers
                <i class="material-icons">person_add</i></a></li>
                 <li>
                    <li>
                        <a  href="{{ path('fos_user_security_logout') }}" class="black-text text-darken-3">
                        <i class="material-icons">power_settings_new</i>
                            {{ 'Deconnexion'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
            </li>
        </ul>
            <ul class="side-nav" id="mobile-menu">
                <li><span class="black-text text-darken-3">Welcome {{ app.user.prenom }}</span></li>
                
                <li><a href="{{ path('client_index') }}" class="black-text text-darken-3">Customers
                        <i class="material-icons">perm_contact_calendar</i></a></li>
                <li><a href="{{ path('client_new') }}" class="black-text text-darken-3">Add customers
                    <i class="material-icons">person_add</i></a></li>
                    <li>
                    <li>
                        <a  href="{{ path('fos_user_security_logout') }}" class="black-text text-darken-3">
                        <i class="material-icons">power_settings_new</i>
                            {{ 'Deconnexion'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% endif %}            
                </li>
            </ul>
    </div>
</nav>
            
<div class="container">
    {% block content %}{% endblock %}
</div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
<script type="text/javascript" src="http://materializecss.com/js/init.js"></script>
{% block javascripts %}
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
{% endblock %}
</body>
</html>
