{% extends 'base.html.twig' %}

{% block content %}
    <h1>Customer n° {{client.id}} </h1>

    <table>
        <tbody>
            <tr>
                <th>Company</th>
                <td>{{ client.entreprise }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ client.mail }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ client.adresse }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ client.ville }}</td>
            </tr>
            <tr>
                <th>Phone number</th>
                <td>{{ client.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('client_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('client_edit', { 'id': client.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
